{
  "presets": ["env", "react"],
  "plugins": ["styled-components"],
  "env" : {
    "test": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "fileName": false
        }]
      ]
    }
  }
}
